/* VARIABLES */
/* LOS NAV-LINKS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
.link {
  animation-name: link;
  animation-duration: 1s;
  animation-delay: 0s;
  transition: 0.5s;
}

.link:hover {
  transform: scale(1.2);
}

/* BOTON DEL PRESUPUESTO */
.presupuesto {
  animation-name: boton-presupuesto;
  animation-duration: 1s;
  animation-delay: 0s;
  transition: 0.5s;
}

.presupuesto:hover {
  transform: scale(1.2);
}

/* IMG DE GALERIA */
.img {
  animation-name: link;
  animation-duration: 1s;
  animation-delay: 0s;
  transition: 0.5s;
}

.img:hover {
  transform: scale(1.1);
}

/*IMG-LOGO*/
.logo {
  animation-name: link;
  animation-duration: 1s;
  animation-delay: 0s;
  transition: 1s;
}

.logo:hover {
  transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

font-face {
  font-family: "Roboto condensed";
  src: url(./assets/Roboto_Condensed.zip);
}

html, body {
  overflow-x: hidden;
  margin-top: 50px;
}
html .sticky-top, body .sticky-top {
  position: fixed;
  width: 100%;
}

.pag-error {
  width: 100%;
  background-position: center center;
  object-fit: cover;
}

body {
  background-image: url(../assets/img/Fondo_GMA_1920.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: rgba(14, 14, 14, 0.9254901961);
}

.img {
  width: 600px;
}

footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin-top: auto;
}

.link {
  align-items: center;
}

@media screen and (max-width: 767px) {
  header .logo {
    width: 170px;
    object-fit: cover;
  }
  .link:hover {
    transform: scale(1.01);
  }
}
@media screen and (max-width: 1000px) {
  .link:hover {
    transform: scale(1.01);
  }
}
.img-inicio-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  max-width: 1800px;
  min-width: 300px;
  margin: 0 auto;
}
.img-inicio-div img {
  width: 90%;
  border-radius: 10px;
}

.modal-dialog {
  margin-top: 5%;
  width: 100%;
}

.custom-card-size .card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.custom-card-size {
  width: 98%;
  margin: auto;
}

.carousel-item img {
  width: 70rem;
  height: 44rem;
  object-fit: cover;
}

.foto-obra {
  width: 700px;
}

.info-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
}

.contenedor-sobre-mi {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  overflow: hidden;
  padding: 20px;
  border-radius: 8px;
}

.img-sobre-mi {
  float: left;
  margin: 0 20px 20px 0;
  margin-bottom: 10px;
  max-width: 200px;
}

.texto-sobre-mi {
  margin-top: 40px;
}

.negrita {
  font-weight: bold;
}

.boton_presupuesto {
  margin: 3%;
}
.boton_presupuesto .presupuesto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  border-radius: 8px;
  width: 220px;
  height: 37px;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 20px;
}

.Wsp {
  position: fixed;
  right: 20px;
  bottom: 10px;
}
.Wsp .wsp_logo {
  color: green;
  font-size: 3rem;
}

.pag-error-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 700px;
  font-family: "Roboto condensed";
}
.pag-error-main div {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  main .wsp_logo i {
    font-size: 2rem;
  }
  .img-sobre-mi {
    max-width: 100px;
  }
  .texto-sobre-mi {
    margin-top: 20px;
  }
  .custom-card-size .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .modal-dialog {
    margin: 0 auto;
  }
  .modal-content {
    margin-top: 40%;
  }
  .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .formulario {
    padding: 5%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  main .wsp_logo i {
    font-size: 2rem;
  }
  .img-sobre-mi {
    max-width: 100px;
  }
  .texto-sobre-mi {
    margin-top: 20px;
  }
  .pag-error-main {
    width: 350px;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .modal-dialog .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    margin-top: 40%;
  }
  .carousel-item img {
    width: 100%;
    height: 25rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .img-inicio-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-inicio-div img {
    width: 95%;
    height: 150px;
    object-fit: cover;
  }
  main .wsp_logo i {
    font-size: 2rem;
  }
  .img-sobre-mi {
    max-width: 100px;
  }
  .texto-sobre-mi {
    margin-top: 20px;
  }
  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
  }
  .carousel-item img {
    width: 30rem;
    height: 30rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  main .wsp_logo i {
    font-size: 2rem;
  }
  .contenedor-sobre-mi {
    display: block;
    width: 75%;
  }
  .carousel-item img {
    width: 48rem;
    height: 40rem;
  }
  .texto-sobre-mi {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1920px) {
  /*none*/
}
@media screen and (min-width: 446px) and (max-width: 601px) {
  .redes-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .redes img {
    width: 2rem;
  }
  .maps {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  iframe {
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 1300px) {
  footer .redes img {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1920px) {
  iframe {
    width: 400px;
    height: 200px;
  }
}/*# sourceMappingURL=estilos.css.map */