        /* LOS NAV-LINKS */
.link{
    animation-name: link;
    animation-duration: 1s;
    animation-delay: 0s;
    transition: 0.5s;
}
.link:hover{
    transform: scale(1.2);
}

    /* BOTON DEL PRESUPUESTO */
.presupuesto{
    animation-name: boton-presupuesto;
    animation-duration: 1s;
    animation-delay: 0s;
    transition: 0.5s;
}
.presupuesto:hover{
    transform: scale(1.2);
}

    /* IMG DE GALERIA */
.img{
    animation-name: link;
    animation-duration: 1s;
    animation-delay: 0s;
    transition: 0.5s;
}
.img:hover{
    transform: scale(1.1);
}

    /*IMG-LOGO*/
.logo{
    animation-name: link;
    animation-duration: 1s;
    animation-delay: 0s;
    transition: 1s;
}
.logo:hover{
    transform: scale(1.1);
}