@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
font-face {
    font-family: $font-main;
    src: url(./assets/Roboto_Condensed.zip);
}

html, body {
    overflow-x: hidden;  
    margin-top: 50px;

    .sticky-top{
        position: fixed;
        width: 100%;
    }
}

.pag-error {
    width: 100%;
    background-position: center center;
    object-fit: cover;
}