.boton_presupuesto{
    margin: 3%;

    .presupuesto{
        @include displayF-justifyC-alignI(flex, center, center);
        background-color: map-get($colores, red);
        color: map-get($colores, black);
        font-size: $font-normal-half;
        border-radius: 8px;
        width: 220px;
        height: 37px;
        text-decoration: none;
        margin: 0 $auto;
        margin-top: $espaciado-20;
    }
}

.Wsp{
    position: fixed;
    right: $espaciado-20;
    bottom: $espaciado-10;

    .wsp_logo{
        color: map-get($colores, green);
        font-size: $font-large;
    }
}

.error{
    font-size: 5rem;
    align-items: center;
}
.error404{
    font-size: 8rem;
}
.pag-error{
    font-size: 3rem;
}

@media screen and (max-width: 767px) {
    main .wsp_logo i{
        font-size: $font-medium;
    }
}