body {
    background-image: url(../assets/img/Fondo_GMA_1920.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #0e0e0eec;
}

.img {
    width: $width-img;
}

footer {
    background-color: map-get($colores, black);
    width: $espaciado-full;
    margin-top: $auto;
}