/* VARIABLES */

$font-main: 'Roboto condensed';

$espaciado-10: 10px;
$espaciado-20: 20px;
$espaciado-full: 100%;

$font-normal: 1rem;
$font-normal-half: 1.5rem;
$font-medium: 2rem;
$font-large: 3rem;

$auto: auto;
$center: center;

$width-img: 600px;

$container-flex: flex;


/* MAPS */

$colores:(
    red: red,
    black: rgb(0, 0, 0),
    green: green,
)